.cardDetailMainContainer {
  height: 100vh;
}

.cardDetailContainer {
  margin-bottom: 30px;
}

.cardDetailContainer h1 {
  color: #343a40;
  letter-spacing: 1px;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.imageContainer img {
  border-radius: 15px;
  box-shadow: 5px 5px 8px 0px rgba(52, 58, 64, 0.75);
}

.infoContainer {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
  background-color: #343a40;
  color: white;
}

.infoContainer p {
  margin-bottom: 0;
}

.btnDetails {
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  background-color: #343a40;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

.btnDetails:hover {
  color: white;
  background-color: #008000;
  border: 2px solid #02d302;
}
