.productContainer {
   width: 900px;
   min-height: 190px;
   /* background: url("../image/FondoTarjetas.jpg");  */
   background-size: cover;
   color: black;
   padding: 15px 10px;
   margin: 15px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   -webkit-box-shadow: 5px 5px 50px 5px #8d8d8d;
   box-shadow: 5px 5px 50px 5px #8d8d8d;
}

.productContainer h3 {
   margin: 1;
}

.photoContainer {
   /* display: inline-block;  */
   width: 600px;
   height: 400px;
   /* margin-bottom: 15px;  */
   border-radius: 10px;
   margin-left: auto;
}

.photoContainer img {
   border-radius: 15px;
   height: 100%;
   width: 70%;

}

.priceCartContainer {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.priceCartContainer button {
   background-color: #008000;
   padding: 10px 13px;
   border-radius: 6px;
   cursor: pointer;
   border: none;
   color: white;
   font-size: 1.1rem;
   letter-spacing: 1px;
}

.priceCartContainer button:hover {
   background-color: #02d302;
}
.containerMain {
   width: 90%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* flex-direction: row; */
}

.MainContainerInfo {
   width: 500px;
}

.brandGender {
   display: flex;
   flex-direction: column;
}
.brandGender h4,
p {
   margin: 2px 8px;
}

/* /                    STOCK                 / */

.containMainStock {
   display: flex;
   justify-content: space-around;
   margin-bottom: 10px;
}

.stocks {
   margin-bottom: 10px;
   font-size: 26px;
   font-weight: 500;
}

.stockSize {
   color: #efb810;
}

/* /                 DELETE                  */ 
.buttonContain {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.buttonContain .buttonDelete {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 150px;
   height: 44px;
   /* padding: 2px 20px; /
   / margin-top: 20px; /
   background-color: rgb(223, 16, 16);
   border: 2px solid var(--bitcoin-orange);
   border-radius: 6px;
   font-size: 1.4rem;
   font-weight: bold;
   text-align: justify;
   font-family:Arial, Helvetica, sans-serif;
   / line-height: -80px; /
   color: var(--black);
}

.buttonDelete span {
   display: inline-block;
   margin: 0;
   width: 30px;
   height: 30px;
   background-image: url("../image/icon-warning.png");
   background-size: contain;
   / background-position: center; /
   background-repeat: no-repeat;
   / vertical-align: text-bottom; */
}

.buttonContain button:hover {
   background-color: rgb(143, 13, 13);
   cursor: pointer;
   border: 1px solid rgb(238, 22, 22);
}
