.footerDistributed{
    /* background-color: #b2785b; */
	background-color: #343a40;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 0px 30px;
	margin-top: 30px;
	border-top: 5px solid white;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight{
	display: inline-block;
	vertical-align: top;
}

/* IZQUIERDA */

.footerDistributed .footerLeft{
	width: 40%;
}

/* LINKS */

.footerDistributed .footerLinks{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footerDistributed .footerLinks h4{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:   #ffffff;
}
.footerDistributed .footerLinks h4:hover{
	color:  #c79557;
}

.footerDistributed .footerLinks h4:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
    text-decoration: none;
  }
  
  .footerDistributed .footerLinks .linkOne:before {
    content: none;
  }


/* CENTRO */

.footerDistributed .footerCenter{
	width: 35%;
}


.img{
    height: 10%;
    width: auto;
	justify-content: center;
    margin: 5px 5px;
    vertical-align: middle;
    border-radius: 6rem;
}


/* DERECHA */


.footerDistributed .footerRight{
	width: 20%;
}

.footerDistributed .footerCompanyAbout {
	line-height: 20px;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	
}

.footerDistributed .footerCompanyAbout {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}