* {
  text-decoration: none;
}

.letra {
  justify-content: space-between;
  color: white;
  text-decoration: none;
  width: 100px;
}

.letra:hover {
  color: green;
}

.btnCarry {
  color: white;
}

.btnCarry:hover {
  color: green;
}

.NavUl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 50%;
}

.liFormat {
  margin-left: 15px;
}
.NavBarComplete {
  background: url("../image/FondoNavBar.jpg");
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 3px 5px;
}

/* IZQUIERDA */

.left {
  display: flex;
  width: 30%;
  justify-content: space-between;
  gap: 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.NavBarComplete .logo {
  border-radius: 5rem;
  margin-left: 3rem;
}
.logo:hover {
  transform: scale(1.025, 1.025);
  filter: drop-shadow(0 0 12px white);
}

.buttonlogin {
  width: 30%;
  padding: 10px 10px;
  background-color: #008000;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;

  cursor: pointer;
  letter-spacing: 1px;
}
.buttonlogin:hover {
  background-color: #02d302;
}
/* CENTRO */

/* DERECHA */

/* .right {
  width: 20%;
} */
